{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Customer Id</th>
            <th>Username</th>
            <th>Mobile Number</th>
            <th>Password</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Customer_id }}</td>
            <td>{{ i.Username }}</td>
            <td>{{ i.MobileNumber }}</td>
            <td>{{ i.Password }}</td>
            <td>{{ i.Created_at }}</td>
            <td><a href="admin_customer_details_view/{{ i.id }}" class="btn btn-info">View</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}